.body{
    background-color: rgb(200, 200, 200);
    margin: 0;
    font-family: Avenir, "Trebuchet MS", Arial;
    padding: 0;
}
.html{
    margin: 0;
}

.navbar{
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    transform: translate(-9px,0);
    top: 0;
    width: 100%;
    height: 16vh;
    z-index: 4;
    box-shadow: 0px 3px 10px  rgb(45, 45, 48)
}
.navbutton{
    float: right;
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding-top: 3vh;
    padding-bottom: 6vh;
    padding-right: 3vw;
    padding-left: 2vw;
    display: block;
    font-family: Avenir, "Trebuchet MS", Arial;
    font-size: 4vh;


}
.logo{

    padding-top: 1.5vh;
    padding-left: 3vh;
    float: left;
    display: inline-block;

}
.navbutton:hover{
    background-color: gray;
}
.welcome{
    padding-top: 18vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 2;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-shadow: 0.4vw 0.4vw 0.1vw rgb(0, 0, 0);


}
.welcome-img{
    background-image: url(images/bg-image.jpg);
    filter: saturate(100%);
    -webkit-filter: brightness(60%);
    height: 120vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
    background-attachment: fixed;
    will-change: transform;
    position: relative;
}
.h1w{
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    font-size: 8vh;

}


.h2w{
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    font-size: 4vh;


}

.p{
    font-size: 3vh;
    font-weight: 500;
    text-align: center;
    font-family: Avenir, "Trebuchet MS", Arial;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
}

.ul {
    padding: 0px 20px;
    text-align: center;

}

.li {

    display: inline-block ;
    text-align: center;
    padding: 0px 10px

}
.title{
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    font-size: 5vh;
}
.h2{
    font-family: Avenir, "Trebuchet MS", Arial;
}
.name{
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    font-size: 4.7vh;
}
.basic{
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    font-size: 4vh;
}
div.block{
    padding-top: 5vh;
    text-align: center;
}
.info{
    width: 93vw;
    position: center;
    text-align: center;
    list-style-type: none;
}
.info-text{
    float:bottom;
}
.info-img{
    float: top;

}
.profile{
    width:40vw;
    height: 40vw;
    border-style: solid;
    border-width: 0.4vw;
    border-color: black;
    padding:0px;

    box-shadow: 5px 10px 10px  rgb(45, 45, 48);
}

.info-text2{
    float:bottom;

}
.made-by{
    float:right;
    padding-top: 10vh;
    padding-bottom: 2vh;
    font-family: Avenir, "Trebuchet MS", Arial;

}
.plug{
    color: #000;
    font-size: 3vh;
}
/*.dropbtn{*/
/*    background-image: url("images/reorder-option.svg");*/
/*    float: right;*/
/*    height: 16vh;*/
/*    width: 16vh;*/
/*}*/
/*.show{*/
/*    display:block;*/
/*}*/
#map{
    background-color: grey;
    width: 100%;
    height: 50vh;
    position: center;
    padding: 0;

}
.covid{
    background-color: #ffa100;
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    font-size: 2vh;
    padding-bottom: 0;
}
.covidlink{
    text-decoration: none;
    color: black;
}
.qual{
    font-size: 3vh;
    font-family: Avenir, "Trebuchet MS", Arial;
    text-align: center;
    padding: 0;
}

/*.dropdown-button {*/

/*    color: white;*/
/*    padding: 3vh;*/
/*    height: 10vh;*/
/*    width: 10vh;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    position: center;*/
/*}*/
/*.show {display:block;}*/
/*.dropdown-items{*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f1f1f1;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/
/*.dropdown{*/
/*    position: relative;*/
/*    display: inline-block;*/
/*    float:right;*/
/*}*/

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: black;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-right: 5vw;
    padding-left: 2vw;
    font-size: 4vh;
    font-family: Avenir, "Trebuchet MS", Arial;
    border: none;
    cursor: pointer;
    /*background-image: url("images/reorder-option.svg");*/
    /*background-size: cover;*/
    /*transform: translate(50%, 40%);*/
}

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 2vw;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    float: left;
    background-color: white;
    min-width: 100vw;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    overflow: visible;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 4vh;
    text-decoration: none;
    font-family: Avenir, "Trebuchet MS", Arial;
    font-size: 4vh;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.bigger{
    height: 40vh;
}
.hamburger{
    position: center;
    width: 4vh;
    height: 4vh;
    z-index: -1;
}